.container{
    margin:0;
    padding:0;
    background-color: rgb(238, 235, 235);
}

.head{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: capitalize;
}
.container .head h1{
    margin-top: 0px;
    text-align: center;
    text-transform: capitalize;
    justify-content: center;
}
.container h3{
    margin-left:70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    text-transform: capitalize;
}
.card .card-img-top{
    margin-left:20px;
    width:240px;
    height: 180px;
}
.card-img-top {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    border-radius: 30px;
  }
  
  .card-img-top:hover {
    transform: scale(1.2); 
    z-index: 10; 
  }
  
.card-body .card-title{
    font-size: 17px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left:70px;
    align-items: center;
    text-transform: capitalize;

}
.card:hover{
    color:green;
}

.card-body .card-text{
    margin-left:40px;
    font-size: 16px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;

}

.card-body button{
    color:#fff;
    background-color: black;
    border-radius: -5rem;
    cursor:pointer;
    margin-left:20px;
    display: inline;

}
.card-body button:hover{
    background:green;
}
.card-2{
    align-items: right;
    text-transform: capitalize;
}

.cards-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: start; 
    gap: 10px; 
  }
  
  .card {
    width: 20rem; 
    margin: 10px; 
    margin-left:60px;
    
  }
 span{
    margin-left:50px;
 }
.stars{
    margin-left:40px;
    color:green;
   
}





@media (max-width: 768px) {
    .cards-container {
        flex-direction: column;
        align-items: center;   
        gap: 20px;          
    }}